{% extends "base.html" %}

{% load widget_tweaks %}
{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="panel panel-default col-md-offset-3 col-md-6">
        <h1 class="text-center">Forgotten Password</h1>
        <div class="panel-body">
            
            <p class="text-center">Enter your e-mail address to obtain a new password.</p>
            <form action="." method="post" class="col-md-offset-3 col-md-6">
                {% csrf_token %}
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                <div class="form-group">
                    {% for field in form.visible_fields %}
                        {{ field|add_class:"form-control" }}
                    {% endfor %}
                </div>
                <input type="submit" value="Send e-mail" class="btn btn-danger btn-block">
            </form> 
        </div>
          
    </div>
    
    
{% endblock %}