{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Change you password{% endblock %}

{% block content %}
    <div class="panel col-md-4 col-md-offset-4">
        <h1>Change you password</h1>
        <p>Use the form below to change your password.</p>
        <form action="." method="post" class="text-center">
                {% csrf_token %}
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}

                <div class="form-group">
                    {% for field in form.visible_fields %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:"form-control" }}
                        
                        {% if field.help_text %}
                        <span id="helpBlock" class="help-block text-left">{{ field.help_text|safe }}</span>
                        {% endif %}
                            
                    {% endfor %}
                </div>
            <p><input type="submit" value="Change" class="btn btn-info"></p>
            {% csrf_token %}
        </form>
    </div>
    
{% endblock %}