{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
    {{ request.user.get_full_name }}'s medical info view
{% endblock title %}

{% block content %}
        
        {% if messages %}
            
            {% for msg in messages %}
                <div class="alert alert-{{ msg.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p class="text-center">{{ msg|safe }}</p>
                </div>
            {% endfor %}
                
        {% endif %}
            
        <h3>Personal Information</h3>
        <hr>
        <form action="." method="post">
            {% csrf_token %}
            <!-- UserForm rendering -->
            {% for field in user_form.hidden_fields %}
                {{ field }}
            {% endfor %}
            
            <div>
                {% for field in user_form.visible_fields %}
                    <div class="form-group col-sm-4">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field|add_class:"form-control" }}
                                
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                                
                            
                    </div>
                {% endfor %}
            </div>
            <!-- / UserForm rendering -->
           <!-- ProfileForm rendering -->
                
                {% for field in profile_form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                
                <div>
                    {% for field in profile_form.visible_fields %}
                    
                        {% if field.label != "Address" %}
                            <div class="form-group col-sm-12 col-md-4">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:"form-control" }}

                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% else %}
                        
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:"form-control" }}
                            </div>
                            
                        {% endif %}
                    {% endfor %}
                </div>
           <!-- / ProfileForm rendering -->
                
                <!-- MedicalForm rendering -->
                <div>
                    <hr>
                    <h2>Medical Information</h2>
                    <p><strong>Do you have/Have you had</strong> and of the following:</p>
                    <hr>
                    {{ med_form.as_p }}
                </div>
                <!-- / MedicalForm rendering -->
            <div class="form-group">
                <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                <br><br>
            </div>      
            
    </form>
{% endblock content %}
