{% extends "base.html" %}

{% block title %}
    {{ request.user.get_full_name }}'s medical info view
{% endblock title %}

{% block content %}
        <h3>Personal Information</h3>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
        <div>
        {% for field in user_form %}
            <div class="form-group col-sm-12 col-md-4">
                {{ field.label_tag }}
                <input type="text" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}" value="{{ field.value }}">
            </div>
        {% endfor %}
           
        </div>

        <div>
            {% for field in profile_form %}
                {% if not field.is_hidden %}
                    {% if field.label != "Address" %}
                        <div class="form-group col-sm-12 col-md-4">
                            {{ field.label_tag }}
                            <input type="text" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}" value="{{ field.value }}">
                            
                            {% if field.label == 'Date of birth' %}
                                <span id="helpBlock" class="help-block">year must be in the format: <b>yyyy-mm-dd</b></span>
                            {% endif %}
                                
                        </div>
                    {% else %}
                        
                        <div class="form-group col-sm-12 col-md-6">
                            {{ field.label_tag }}
                            <textarea class="form-control" rows="3" name="{{ field.name }}" id="{{ field.id_for_label }}">{{ field.value }}</textarea>
                        </div>
                        
                    {% endif %}
                {% else %}
                    <input type="hidden" name="{{ field.name }}" value="{{ field.value }}" id="{{ field.id_for_label }}">
                {% endif %}
                
            {% endfor %}
            
        </div>
        
        <br>
        <div><br>
            <h3>Medical Information</h3>
            <hr>
            {{ med_form.as_p }}
        </div>
        
        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
    </form>
{% endblock content %}
