{% extends "base.html" %}

{% block title %}
    {{ request.user.get_full_name }}'s medical info view
{% endblock title %}

{% block content %}
        <h3>Personal Information</h3>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
        <div>
        {% for field in user_form %}
            <div class="form-group col-sm-4">
                {{ field.label_tag }}
                <input type="text" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}" value="{{ field.value }}">
            </div>
        {% endfor %}
           
        </div>

        <div>
            {% for field in profile_form %}
                {% if field.label != "Address" %}
                    <div class="form-group col-sm-4">
                        {{ field.label_tag }}
                        <input type="text" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}" value="{{ field.value }}">
                    </div>
                {% else %}
                    
                    <div class="form-group col-sm-6">
                        {{ field.label_tag }}
                        <textarea class="form-control" rows="3" name="{{ field.name }}" id="{{ field.id_for_label }}">{{ field.value }}</textarea>
                    </div>
                    
                {% endif %}
                
            {% endfor %}
            
        </div>
            
        </div>
        <br>
        <div>
            <h3>Medical Information</h3>
            <hr>
            {% for field in med_form %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="{{ field.id_for_label }}" name="{{ field.name }}" {% if field.value %}checked=""{% endif %}> {{ field.label }}
                    </label>
                </div>
            {% endfor %}
        
        </div>
        
        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
    </form>
{% endblock content %}