{% extends 'base.html' %}


{% block title %}
    Statistical Details
{% endblock title %}


{% block content %}
    
{% endblock content %}


{% block extra_js %}
{% load static %}
// Include FusionCharts core file
<script type="text/javascript" src="http://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
// Include FusionCharts Theme file
<script type="text/javascript" src="http://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
{% endblock extra_js %}
    