{% extends 'base.html' %}


{% block title %}
    Statistical Details
{% endblock title %}


{% block content %}
   
    <div class="row">
        <div id="allergies" class="col-xs-12 col-sm-12 col-md-4">{{ allergies_chart|safe }}</div>
        <div id="different_conditions" class="col-xs-12 col-sm-12 col-md-8">{{ different_conditions_chart|safe }}</div>
        
    </div>
    
    <br>
    <br>
    <div class="row">

        <div id="illness" class="col-xs-12 col-md-12">{{ major_illness_chart|safe }}</div>
        
    </div>
    
{% endblock content %}


{% block extra-js %}
{% load static %}
<script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
   <script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
{% endblock extra-js %}
    